* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

//font family for the whole app
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 1200px;

    //this is so the margin: 0 auto; gets overwritten and allows for better handling of the components inside a container
    * {
        margin: 0;
    }
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.bold {
    font-weight: bold;
}

//pointer for what are supposed to be
.pointer {
    cursor: pointer;
}

//grey-ish color used in header and footer
.silver-text {
    color: #c0c3c7;
}

//signature green-ish color used in various parts
.teal-text {
    color: #058283;
}

//used in the little titles in the main content
.lightseagreen-text {
    color: #00a6a6;
}

//this is the color used in most of the app, instead of plain black
.darkslategray-text {
    color: #21333e;
}

//used in buttons, white but not totally, also same color as jumbotron background
.linen-text {
    color: #efeee9;
}

.white-text {
    color: #fff;
}

.lightslategray-text {
    color: #829397;
}

.section-title-font {
    font-family: 'Poppins', sans-serif;
}